@model IEnumerable<RegionsAndCountries_api.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ctyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ctyreg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ctyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ctyreg.Regid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ctyid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ctyid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ctyid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
